<form id="employee-form" [formGroup]="editEmployeeForm">

    <mat-form-field>
        <input [(ngModel)]="employee.firstName"
               type="text"
               matInput
               placeholder="FirstName"
               [formControl]="firstName"
               required>
        <mat-error *ngIf="submitted && editEmployeeForm.controls['firstName'].hasError('required')">
            FirstName is Required field
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="employee.lastName"
               type="text"
               matInput
               placeholder="LastName"
               [formControl]="lastName"
               required>
        <mat-error *ngIf="submitted && editEmployeeForm.controls['lastName'].hasError('required')">
            LastName is Required field
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="employee.phoneNumber"
               type="text"
               matInput
               placeholder="PhoneNumber"
               [formControl]="phoneNumber"
               required>
        <mat-error *ngIf="submitted && editEmployeeForm.controls['phoneNumber'].hasError('required')">
            PhoneNumber is Required field
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="employee.salary"
               type="number"
               min="10"
               matInput
               placeholder="Salary"
               [formControl]="salary"
               required>
        <mat-error *ngIf="submitted && editEmployeeForm.controls['salary'].hasError('required')">
            Salary is Required field
        </mat-error>
    </mat-form-field>

    <button mat-button (clcik)="saveEmployee()">Save</button>

</form>
